---
---

<div>
  <p>Quelques fonctionnalités de ce site :</p>
  <ul class="mt-5">
    <li>
      <strong>Rapide.</strong>
      <span
        >Construit avec <a href="https://astro.build/">Astro</a>, un framework
        moderne et rapide pour le web.</span
      >
    </li>
    <li>
      <strong>Dark mode.</strong> Un mode sombre pour un choix de couleur différent.
    </li>
    <li>
      <strong>Responsive.</strong> Un site qui s'adapte à tous les écrans.
    </li>
    <li>
      <strong>Accessible.</strong> Un site accessible pour tous.
    </li>
    <li>
      <strong>Score LightHouse.</strong> Un score LightHouse de 100/100.
    </li>
  </ul>
</div>
