---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Blog Ergonomie
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/ronanren/blogErgonomie"
      >
        <i
          class="fa-brands fa-github"
          aria-hidden="true"
          title="Blogster on GitHub"></i>
        <span>GitHub</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8">
      Bonjour, voici notre blog avec une <strong>accessibilité optimisée</strong
      >. Nous avons utilisé le thème <a
        href="https://github.com/flexdinesh/blogster?tab=readme-ov-file#newspaper"
        >newspaper</a
      > de Blogster. Nous avons chacun écrit un article sur un <strong
        >sujet</strong
      > qui nous tient à <strong>coeur</strong>. Nous espérons que vous
      apprécierez votre lecture.
    </p>
  </div>
</section>
